dark/vim/.vim/autoload
dark/vim/.vim/plugged
dark/vim/.vim/dirs
dark/vim/.vim/dirs/backups
dark/vim/.vim/dirs/tmp
dark/vim/.vim/.netrwhist
dark/Code/.config/Code/Cache
dark/Code/.config/Code/Backups/
dark/Code/.config/Code/CachedExtensions/
dark/Code/.config/Code/logs/
dark/Code/.config/Code/machineid
light/vim/.vim/autoload
light/vim/.vim/plugged
light/vim/.vim/dirs
light/vim/.vim/dirs/backups
light/vim/.vim/dirs/tmp
light/vim/.vim/.netrwhist
config/.config/mpd/log
config/.config/mpd/pid
config/.config/mpd/state




